.f-warpper{
    margin-top: 4vw;

}
.f-container{
  width: 100%;
}
.f-contant{
    display: flex;
   align-items: center;
    justify-content: space-between;
    background: #000;
    border: 8px solid rgb(207, 203, 203);
    border-radius: 10px;
}
.f-left{
    gap: 1rem;
}
.f-menu{
    gap: 1rem;
}
.f-menu a{
    color: #fff;
}
.button3{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 780px) {
    .f-menu{
    flex-direction: column; 
    margin: 10px;  
}
.f-menu a{
    color: #fff;
    font-size: 0.9rem;
}
}
.trade{
  
    display: flex;
    align-items: center;
    justify-content: center;
  gap: 1rem;
  background-color: #000;
}
.trade p {
    font-size: medium;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: capitalize;
}
.trade #icc{
    transition: all linear 0.5s;
}
.trade #icc:hover{
    transform: translateY(-5px);
    color: #fff;
}
.trade #iee{
    transition: all linear 0.5s;
}
.trade #iee:hover{
    transform: translateY(-5px);
    color: #000;
}