.app{
    position: relative;
    overflow-x: clip;
    background: black;
}

.circle-gradient{
    position: absolute;
    height: 20rem;
    width: 20rem;
    background: rgba(225, 225, 225, 0.522);
    filter: blur(100px);
    border-radius: 100px;
}
